body{
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    font-family: Open Sans;
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--White-Color, #FFF);
padding: 18px 35px 19px 36px ;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav-title{
font-size: 45px;
font-weight: 800;
line-height: normal;
font-family: Open Sans;
}
nav >ul {
    display: flex;
    align-items: center;
}
nav li 
{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: black;
    
}
.header {
    background-color: #FFF8F3;
    background-image:url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px  30px 0px 150px;
    display: flex;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 584px;
height: 676px;
flex-shrink: 0;
}
.banner-greeting{
    color: var(--Dark-02, #474747);
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.banner-heading{
    color: var(--Dark-01, #181818);
    margin-top: 5px;
    margin-bottom: 20px;
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: normal;
}
.about-descrip{
    width: 827px;
    text-align: center;
    color: var(--Dark-03, #757575);
  text-align: center;
   font-size: 18px;
   font-weight: 400;
 line-height: 30px; /* 166.667% */

}
main{
max-width: 1140px;
justify-content: center;
margin: 0 auto;
}
.sec-1{
background: #FFF8F3;

flex-shrink: 0;
align-items: center;
padding: 130px;
margin-top: 130px;
margin-bottom: 130px;
}
.sec-title{
    font-family: Open Sans;
    color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;
font-weight: 700;
line-height: normal;
}
.about-info-container{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.about-info {
    text-align: center;
    font-family: Open Sans;
}
.sec-2 {
    
   text-align: center;
   margin
}
.sec-2-p{
    margin: 30px 116px 50px 115px ;
    color: var(--Dark-03, #757575);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.skill-card{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 33px;
    align-items: first baseline;
}
.skill-card > .skill{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    text-align:left;
    color: var(--Dark-03, #757575);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.skill-title{
    text-align: left;
}
main section{
    margin-top: 130px;
}
.sum-head{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-colum-title{
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
line-height: normal;

}
.resume-container{
    display: flex;
    gap: 20px;
}
.rersume-item-title{
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-item-institute{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.download-cv    {
    text-align: center;
    margin-top: 50px;
}
footer{
    width: 50%;
}
.footer-head{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    width: 1600px;
    height: 780px;
}
.footer-head-L{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.foot-pera{
    color: var(--Dark-02, #474747);
font-size: 16px;
font-style: normal;
font-weight: 400;
text-align: center;
line-height: 28px; /* 175% */
padding: 100px;
}
.name{

    width: 461px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
background: var(--White-Color, #FFF);
}
.email { 
    margin-top: 20px;
    width: 461px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--White-Color, #FFF);

}
.massage{
    margin-top:20px ;
    width: 461px;
height: 180px;
flex-shrink: 0;
border-radius: 5px;
background: var(--White-Color, #FFF);
}
#btn{
    margin-top: 30px;
}
