body{
    font-family: 'Open Sans';
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--White-Color, #FFF);
padding: 18px 35px 19px 36px ;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav-title{
font-size: 45px;
font-weight: 800;
line-height: normal;
}
nav >ul {
    display: flex;
    align-items: center;
}
nav li 
{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: black;
    
}
