body{
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    font-family: Open Sans;
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--White-Color, #FFF);
padding: 18px 35px 19px 36px ;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav-title{
font-size: 45px;
font-weight: 800;
line-height: normal;
font-family: Open Sans;
}
nav >ul {
    display: flex;
    align-items: center;
}
nav li 
{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: black;
    
}
.header {
    background-color: #FFF8F3;
    background-image:url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px  30px 0px 150px;
    display: flex;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 584px;
height: 676px;
flex-shrink: 0;
}
.banner-greeting{
    color: var(--Dark-02, #474747);
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.banner-heading{
    color: var(--Dark-01, #181818);
    margin-top: 5px;
    margin-bottom: 20px;
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: normal;
}
.about-descrip{
    width: 827px;

}
main{
  margin-top: 130px;
  margin-bottom: 130px;
  justify-content: center;
  margin-left: 230px;
  margin-right: 230px;
}
.sec-1{
background: #FFF8F3;

flex-shrink: 0;
align-items: center;
padding: 130px;
}
.sec-title{
    font-family: Open Sans;
    color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;
font-weight: 700;
line-height: normal;
}